*.iml
.gradle
/jr.brian.mynotesnative.model.local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
jr.brian.mynotesnative.model.local.properties
